/* Stage */
svg{
  display: inline-block;
}
#stage {
/*   background: orange; */
  height: 300px;
  width: 600px;
}

#v{
/*   height:200px; */
  width: 20%;
}
.blue-c{
  animation:
   moveRed 1.5s linear forwards;
  animation-delay: 1s;
  animation-iteration-count: 2;
}
@keyframes moveRed {
  50% {
     transform: translate(-15px);
  }
}
.red-c{
  animation:
   moveBlu 1.5s linear forwards;
  animation-delay: 1s;
  animation-iteration-count:2; 
}
@keyframes moveBlu {
  50% {
     transform: translate(15px);
  }
}


.line {
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 7723.5732421875;
  stroke-dashoffset: 7723.5732421875;
  
  animation: 
    traceline 5s linear forwards; 
    animation-iteration-count: infinite;

    
}

@keyframes traceline {
  50% {
      stroke-dashoffset: 0;
  }
}

@keyframes newcolor {
  100% {
      stroke: cornflowerblue;
  }
}

g path:nth-of-type(3n) {
  transform: translate(15px);
  
  animation:
   moveTri 2.5s linear forwards,
   paintitblack 2.5s linear forwards;
  animation-delay: 3s;

}
@keyframes moveTri {
  100% {
     transform: translate(0px); 
     
  }
}
g path:nth-of-type(2n) {
  
  transform: translate(-15px);
  
  animation:
   moveTri2 2.5s linear forwards,
  paintitblack 2.5s linear forwards;
  animation-delay: 3s;

}
@keyframes moveTri2 {
  100% {
     transform: translate(0px);
  }
}
g path:nth-of-type(4n) {
  transform: translate(0,15px);
  animation:
   moveTri3 2.5s linear forwards,
  paintitblack 2.5s linear forwards;
  animation-delay: 3s;
  
}
@keyframes moveTri3 {
  100% {
    
     transform: translate(0px); 
/*                 rotate(180deg); */
     
  }
}
g path {
  animation:
   paintitblack 2.5s linear forwards;
  animation-delay: 3s;
}
@keyframes paintitblack {
  100% {
    
     fill: #000; 

     
  }
}
